{% extends 'base.html' %}

 {% block content %}
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 mb-5 mt-5" >  
            <h2>About us</h2>
            <p>Health is wealth! Yes, all of us know that pretty well.
                But, how many can really sense it and take proper care of it?
                Health and shape is a highly inspiring blog site for maintaining good health and shape.
                It helps people to feel the true essence of a healthy life.
                If you have good health, 
                make sure it has a good shape as well to present yourself everywhere confidently.
                This is not so easy. That’s why we are here to deliver the concrete information and help people to get what they are searching for.
                So, get ready to set your mind for being healthy and fit.</p>

            <p>There are thousands of sites where you can find different kinds of information about health and shape. Nevertheless, our purpose is to make available the piece of valuable information in one place and portray those in an effective way so that you can consider this blog as your best guide of health and shape. You can also figure out here the best-featured products without stress and save your valuable time. We focus on empathy and it is really important for us. It is our immense pleasure to provide you boundless motivational ideas with the aim of keeping your health fit and well.</p>
            <p>"A fit, healthy body – that is the best fashion statement .”   Jess C. Scott</p>
          </div>     
         </div>

    </div>
 {% endblock %}